body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    height: 100px;
    width: 800px;
    background-color: rgba(135, 107, 40, 0.423);
    color: rgb(55, 52, 88)
}

img{
    height: 500px;
    width: 600px;
}